ann-visualizer==2.5
ipykernel==6.6.0
ipython==7.25.0
ipython-genutils==0.2.0
keras==2.9.0
Keras-Preprocessing==1.1.2
Markdown==3.3.7
matplotlib==3.5.2
matplotlib-inline==0.1.2
numpy==1.22.3
Pillow==9.1.1
scikit-image==0.19.2
scikit-learn==1.0.2
seaborn==0.11.2
sklearn==0.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tqdm==4.64.0